<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Register</title>
<link rel="stylesheet" type="text/css" href="css/example.css" />

</head>
<body>
<h1>Register a new borrower:</h1>
<form th:action = "@{/updateBorrower}" th:object="${borrower}" method="post">

<table class="prettytable">
<p th:text="${errormsg}"/>
<tr> 
<td> Name: </td>
<td> <input type="text" th:field="*{name}" th:value="${borrower.name}"/> </td>
</tr>

<tr> 
<td> Address: </td>
<td> <input type="text" th:field="*{address}" th:value="${borrower.address}"/> </td>
</tr>

<tr> 
<td> Phone Number: </td>
<td> <input type="text" th:field="*{phone}" value="${borrower.phone}"/> </td>
</tr>

<tr> 
<td> Password: </td>
<td> <input type="text" th:field="*{password}" value="${borrower.password}"/> </td>
</tr>

</table>

<table  class="buttons">
	<tr>
		<td> <input type="submit" value="Update"></td>
		<td><input type="reset" value="Reset"></td>
	</tr>
</table>

<p><a href="home">Back to Home</a></p>
</form>

</body>
</html>