<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
<link rel="stylesheet" type="text/css" href="css/example.css" />

</head>
<body>
<h1>Register a new borrower:</h1>
<form action="updateBorrower" method="POST">

<table class="prettytable">

<tr> 
<td> Name: </td>
<td> <input type="text" name="name"/> </td>
<td> <input type="submit" value="Update Name"></td>
</tr>

<tr> 
<td> Address: </td>
<td> <input type="text" name="address"/> </td>
<td> <input type="submit" value="Update Address"></td>
</tr>

<tr> 
<td> Phone Number: </td>
<td> <input type="text" name="phone"/> </td>
<td> <input type="submit" value="Update Phone"></td>
</tr>

<tr> 
<td> Password: </td>
<td> <input type="text" name="password"/> </td>
<td> <input type="submit" value="Update Password"></td>
</tr>

<tr>
<td><p><a href="home">Go Back to Home</a></p></td>
<td><input type="reset" value="Reset"></td>
</tr>


 
</table>
</form>

</body>
</html>