<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>  
	<form action="/viewbooks">

	<table class="prettytable">

	<tr>
		<td><p th:text="'Welcome ' + ${borrower.name} + '!'" /></td>
	</tr>
	<tr>
	    <th>Title</th>
	    <th>Publisher</th>
	    <th>Library Branch</th>
	    <th>Due Date </th>
	</tr>
	
	<tr> 
		<td> <input type="submit" name="action" value="Edit Profile"></td>
		<td> <input type="submit" name="action" value="View Books"> </td>
	</tr>
 
</table>
</form>
    
</body>
</html>