<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/example.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>  
	<form action="/viewbooks">

	<p th:text="'Welcome ' + ${borrower.name} + '!'" />
	
<table class="prettytable">


	<tr>
	    <th>Title</th>
	    <th>Due Date </th>
	</tr>
	<tr th:each="book: ${myBooks}">
		<td th:text="${book.title}" />
		<td th:text="${book.duedate}" />
	</tr>
</table>
	
<table class="prettytable">
	<tr> 
		<td> <input type="submit" name="action" value="Edit Profile"></td>
		<td> <input type="submit" name="action" value="View Books"> </td>
	</tr>
 </table>

</form>
    
</body>
</html>