<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" type="text/css" href="css/example.css" />

</head>
<body>
<br/>

<form action="home" method="GET">

<table class="prettytable">

<table>
	<tr> 
		<td> Card Number: </td>
		<td> <input type="text" name="cardno" required/> </td>
	</tr>

	<tr> 
		<td> Password: </td>
		<td> <input type="text" name="password" required/> </td>
	</tr>

	<tr> 
		<td> <input type="submit" value="Login"> </td>
	</tr>
	
	<tr> 
		<td><p><a href="register">New Borrower? Register Here</a></p></td>
 	</tr>
 
</table>

</form>

</body>
</html>