<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Books</title>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/example.css" />
</head>
<body>
    <h1>View Books</h1>
    
    <form action="/updatebooklist" method="post" th:object="${branch}">
	    <table>
		    <tr>
			    <td>Library Branch:</td>
			    <td>
			    	<select th:field="*{branchid}">
			    		<option value="0">Select Branch</option>
<!-- 			    		<option value="All">All Branches</option> -->
			    		<option th:each="brancheach: ${allBranches}" th:value="${brancheach.branchid}" th:text="${brancheach.branchname}"></option>
			    	</select>
			    </td>
			    <td><input type="submit" value="Update List"></td>
		    </tr>
		</table>
		<p><a href="home">Back to Home</a></p>
	</form>
</body>
</html>